.mainHome{
    height: auto;
    width: 100%;
}
.mainHomelog{
    transform: scale(0);
    transition: .3s ease;
}
.mainHomelog.true{
    transform: scale(1);
}
.createModalhome{
    transform: scale(0);
    transition: .3s ease;
    height: 100vh;
    width: 100%;
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.createModalhome.true{
    transform: scale(1);
}