.introHome{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}
.intHome-contents{
    height: 100vh;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 50% 50%;
}
.intHome-contents section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.intTexthome{
    position: relative;
}
.intTexthome h1{
    font-size: 1.9vw;
    margin: 0;
    position: absolute;
    left: 4vw;
    top: -1vw;
}
.intTexthome p{
    width: 100%;
    text-align: center;
    font-size: 1vw;
    margin: 0;
}
.pawLogointro{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pawLogointro img{
    height: auto;
    width: 30vw;
}
.shoopCat{
    height: auto;
    width: 30vw;
}
.introBtns{
    margin: 1vw 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.introBtns button{
    background: white;
    outline: .2vw solid black;
    border: none;
    padding: .5vw 3vw;
    border-radius: 1vw;
    box-shadow: .5vw .5vw 0 black;
    margin: 0 .5vw;
    font-family: 'babydoll';
    cursor: pointer;
    font-size: .8vw;
    transition: .3s ease;
}
.introBtns button:hover{
    background: black;
    color: white;
    outline: .2vw solid white;
}

.floatingImages img{
    position: absolute;
    height: auto;
    width: 4vw;
    z-index: 1;
}
#apple{
    right: 10vw;
    transform: rotate(30deg);
    animation: 5s apple ease infinite;
}
#fish{
    left: 7vw;
    animation: 5s fish ease infinite;
    z-index: 0;
}
#jar{
    right: 12vw;
    transform: rotate(-60deg);
    animation: 5s jar ease infinite;
}
@keyframes apple {
    0%{
        bottom: 17vw;
    }
    50%{
        bottom: 16vw;
    }
    100%{
        bottom: 17vw;
    }
}
@keyframes fish {
    0%{
        top: 25vw;
    }
    50%{
        top: 22vw;
    }
    100%{
        top: 25vw;
    }
}
@keyframes jar {
    0%{
        top: 17vw;
    }
    50%{
        top: 15vw;
    }
    100%{
        top: 17vw;
    }
}
.mbsamplePost{
    display: none;
}
.sampAddpip{
    display: none;
}
@media screen and (max-width: 500px){
    .introHome{
        height: auto;
        padding: 25vw 5vw 20vw 5vw;
    }
    .intHome-contents{
        display: none;
    }
    .mbsamplePost{
        display: block;
        border: .6vw solid black;
        padding: 5vw 0;
        border-radius: 4vw;
        margin: 4vw 0 0 0;
    }
    .mbsamplePost:hover{
        box-shadow: 1.5vw 1.5vw 0 black;
    }
    .samplepostHeader{
        display: flex;
        justify-content: space-between;
        height: auto;
        width: 100%;
        padding: 0 5vw;
        box-sizing: border-box;
    }
    .mbProf img{
        height: auto;
        width: 10vw;
        margin: 0 3vw 0 0;
    }
    .mbsp-name{
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .mbsp-name section h1{
        font-size: 4vw;
        margin: 0;
    }
    .mbsp-name section p{
        font-size: 2.5vw;
        margin: 0;
    }
    .mbsampCap{
        margin: 3vw 0 2vw 0;
        padding: 0 5vw;
        box-sizing: border-box;
    }
    .mbsampCap p{
        font-size: 3vw;
        margin: 0;
    }
    .mbpost{
        border-top: .3vw solid black;
        border-bottom: .3vw solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5vw;
    }
    .mbpost img{
        height: auto;
        width: 100%;
    }
    .mbsampostIcons{
        margin: 3vw 0 0 0;
    }
    .mbsampReacts{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    #sampReacts{
        font-size: 3.5vw;
        padding: 2vw 10vw;
        border: .4vw solid black;
        border-radius: 5vw;
    }
    #sampReacts:hover{
        box-shadow: .7vw .7vw 0 black;
    }
    .msampComment{
        margin: 3vw 0 0 0;
        padding: 0 3vw;
    }
    .msampComment section{
        border: .3vw solid black;
        border-radius: 5vw;
        display: flex;
        align-items: center;
        overflow: hidden;
        padding: 2vw 3vw;
    }
    .msampComment section input{
        width: 100%;
        border: none;
        background: none;
        outline: 0;
        font-size: 3vw;
        font-family: 'babydoll';
    }
    .mbSendcomment{
        font-size: 5vw;
    }
    .sampAddpip{
        margin: 3vw 0 0 0;
        display: flex;
        align-items: center;
    }
    .sampips{
        border: .6vw solid black;
        width: 100%;
        padding: 4vw;
        box-sizing: border-box;
        border-radius: 4vw;
    }
    .sampipsheader h1{
        font-size: 3vw;
        margin: 0;
    }
    .sampipsheader section{
        margin: 2vw 0 0 0;
        padding: 1vw 0;
        display: flex;
        align-items: center;
        overflow-x: scroll;
    }
    .samPetscard{
        border: .5vw solid black;
        border-radius: 3vw;
        margin: 0 3vw 0 0;
        padding: 2vw;
        box-shadow: .3vw .3vw 0 black;
    }
    .samPetscard h1{
        font-size: 4vw;
        margin: 2vw 0;
    }
    .sPetspf{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3vw;
        border: .3vw solid black;
    }
    .sPetspf img{
        height: auto;
        width: 60vw;
    }
    .sampAdd{
        width: 100%;
        border: .3vw solid black;
        border-radius: 3vw;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s ease;
    }
    .sampAdd p{
        font-size: 3vw;
    }
    .sampAdd:hover{
        background: black;
        color: white;
    }
}