.navMain{
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 10;
    background: white;
    transition: .3s ease;
}
.navMain.shadow{
    box-shadow: 0 .5vw 0 black;
}
.nav-container{
    padding: 1vw 4vw;
}
.mav-contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navlogo img{
    height: auto;
    width: 4vw;
}


/* sign up */
.signUpnav{
    display: flex;
    align-items: center;
    position: relative;
}
.signUpnav button{
    font-family: 'babydoll';
    font-size: 1vw;
    border: none;
    outline: .2vw solid black;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: .5vw 1vw;
    border-radius: 1vw;
    transition: .3s ease;
    display: flex;
    align-items: center;
}
.signUpnav button:hover{
    box-shadow: .4vw .4vw 0 black;
}
.signIco{
    font-size: 1vw;
    margin: 0 .5vw 0 0;
}
.signUpnav ul{
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 1.5vw 0 0;
}
.signUpnav ul li{
    margin: 0 0 0 1.5vw;
    font-size: .8vw;
    cursor: pointer;
    transition: .3s ease;
}
.signUpnav ul li:hover{
    transform: scale(1.1);
}

.logsignModal{
    transform: scale(0);
    transition: .3s ease;
}
.logsignModal.true{
    transform: scale(1);
}

.userBtnnav{
    position: relative;
}
.userBtnnav:hover .userdetList{
    top: 2.5vw;
    opacity: 1;
    visibility: visible;
}
.userBtnnav ul{
    display: block;
    padding: 1vw;
    list-style: none;
    position: absolute;
    background: white;
    outline: .2vw solid black;
    box-shadow: .55vw .5vw 0 black;
    border-radius: .5vw;
    top: 0;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
    right: -2.5vw;
}
.userBtnnav ul li{
    margin: 0;
    padding: .5vw 2vw;
    font-size: .8vw;
    cursor: pointer;
    transition: .3s ease;
    border-radius: 1vw;
}
.userBtnnav ul li:hover{
    outline: .2vw solid black;
    box-shadow: .3vw .3vw 0 black;
}
