.navMain{
    height: auto;
    width: 100%;
    position: fixed;
}
.nav-container{
    padding: 1vw 4vw;
    z-index: 10;
}
.mav-contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navlogo img{
    height: auto;
    width: 4vw;
}


/* sign up */
.signUpnav{
    display: flex;
    align-items: center;
    position: relative;
}
.signUpnav button{
    font-family: 'babydoll';
    font-size: 1vw;
    border: none;
    outline: .2vw solid black;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: .5vw 1vw;
    border-radius: 1vw;
    transition: .3s ease;
}
.signUpnav button:hover{
    box-shadow: .4vw .4vw 0 black;
}
.signIco{
    font-size: 1vw;
    margin: 0 .5vw 0 0;
}
.signUpnav ul{
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 1.5vw 0 0;
}
.signUpnav ul li{
    margin: 0 0 0 1.5vw;
    font-size: .8vw;
    cursor: pointer;
}

.logsignModal{
    transform: scale(0);
    transition: .3s ease;
}
.logsignModal.true{
    transform: scale(1);
}