.signInmodal{
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.mainSigninModal{
    display: flex;
    align-items: center;
    justify-content: center;
}
.signIn-container{
    height: auto;
    width: 100%;
    outline: .15vw solid black;
    padding: 1.5vw;
    border-radius: 2vw;
    display: flex;
    box-shadow: .5vw .5vw 0 black;
    width: 30vw;
}
.signIn-header h1{
    margin: 0;
    font-size: 1vw;
    font-weight: 100;
}
.signIn-header img{
    height: auto;
    width: 12vw;
}
.signIn-header h2{
    margin: 0;
    font-size: .8vw;
    margin: 0 0 0 .5vw;
    letter-spacing: .2vw;
}
.signIn-header h3{
    width: 15vw;
    word-wrap: break-word;
    font-size: .6vw;
    font-weight: 100;
    text-align: center;
}
#catModal{
    height: auto;
    width: 13vw;
}
.signIn-header p{
    width: 15vw;
    word-wrap: break-word;
    font-size: .7vw;
}
.signIn-header p span{
    cursor: pointer;
}


.signIn-contents{
    display: flex;
    overflow: hidden;
}
.signIn-inputs{
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    position: relative;
    width: 20vw;
}
.signIn-inputs section{
    width: 100%;
    position: absolute;
}
.signIn-inputs section h1{
    margin: 0 0 1vw 0;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 1000;
}
.signIn-contents section p{
    font-size: .7vw;
    margin: .7vw 0 .5vw 0;
}
.signIn-contents section li{
    list-style: none;
    border: .1vw solid black;
    display: flex;
    align-content: center;
    border-radius: 1vw;
    overflow: hidden;
    padding: .2vw 0;
}
.signIn-contents section span{
    font-size: .6vw;
    color: red;
    opacity: 0;
    visibility: hidden;
}
.errorlogUsername.true{
    opacity: 1;
    visibility: visible;
}
.errorlogpass.true{
    opacity: 1;
    visibility: visible;
}
.errorSignupusername.true{
    opacity: 1;
    visibility: visible;
}
.errorSignupemail.true{
    opacity: 1;
    visibility: visible;
}
.signIn-contents section li input{
    width: 100%;
    border: none;
    outline: 0;
    box-sizing: border-box;
    font-family: 'babydoll';
    font-size: .8vw;
    padding: 0 .5vw;
}
.signIn-contents section li input::placeholder{
    font-size: .7vw;
    font-style: italic;
    opacity: 65%;
}
.signIn-contents section li button{
    border: none;
    outline: 0;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8vw;
    padding: 0 .5vw 0 0;
    margin: 0;
    cursor: pointer;
}
.userModalbtn{
    margin: 1vw 0 0 0;
    padding: 0 2vw;
}
.userModalbtn button{
    width: 100%;
    padding: .3vw;
    font-size: .7vw;
    font-family: 'babydoll';
    border-radius: 1vw;
    outline: .1vw solid black;
    border: none;
    background: none;
    cursor: pointer;
    transition: .3s ease;
}
.userModalbtn button:hover{
    box-shadow: .2vw .2vw 0 black;
    transform: scale(1.05);
}
.signIn-inputs section h3{
    font-size: .7vw;
    text-align: center;
    margin: 1vw 0 0 0;
    cursor: pointer;
    font-weight: 500;
}


.switchBtn{
    text-align: center;
    margin: 2vw 0 0 0;
}
.switchBtn button{
    border: none;
    outline: 0;
    font-family: 'babydoll';
    background: none;
    font-size: .8vw;
    color: rgb(255, 102, 0);
    cursor: pointer;
    transition: .2s ease;
}
.switchBtn button:hover{
    transform: scale(1.05);
}

.userLogin{
    left: 20vw;
    transition: .3s ease;
}
.userLogin.login{
    left: 0;
}
.userSignup{
    left: 20vw;
    transition: .3s ease;
}
.userSignup.signin{
    left: 0;
}
.userForgot{
    left: 20vw;
    transition: .3s ease;
}
.userForgot.forgot{
    left: 0;
}