body {
  margin: 0;
  font-family: 'babydoll';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'babydoll';
  src: url('./components/fonts/Baby\ Doll.otf');
}

body::-webkit-scrollbar{
  width: .5vw;
}
/* Track */
body::-webkit-scrollbar-track {
  background: none; 
}
 
/* Handle */
body::-webkit-scrollbar-thumb {
  background: black; 
  transition: .3s ease;
  border-radius: 1vw;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #353535; 
}
